<footer class="jumbotron footer" ng-controller="TripFooterCtrl" tb-trip-slug="<%- trip.url_snippet %>">
  <script>
    TB.footer = TB.footer || {}
    TB.date = new Date(<%- JSON.stringify(date) %>);
    TB.footer.trip = <%- JSON.stringify(trip) %>;
    TB.footer.travelers = <%- JSON.stringify(travelers) %>;
    TB.footer.waypoints = <%- JSON.stringify(waypoints) %>;
  </script>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-title">
        <h3>General Information</h3>
      </div>
      <div class="panel-body">
        <p><a href="/t/<%- trip.url_snippet %>/itinerary">Itinerary and past posts</a>.</p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-title">
        <h3>Where we were.</h3>
      </div>
      <div class="panel-body">
        <p ng-if="last_loc">
          {{ last_loc.name }} <span ng-if="last_loc.whence">starting {{last_loc.whence | date:'yyyy-MM-dd'}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-title">
        <h3>Where we are.</h3>
      </div>
      <div class="panel-body">
        <p ng-if="current_loc">
          {{ current_loc.name }} <span ng-if="current_loc.whence">since {{current_loc.whence | date:'yyyy-MM-dd'}}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-title">
        <h3>Where we're going.</h3>
      </div>
      <div class="panel-body">
        <p ng-if="next_loc">
          {{ next_loc.name }} <span ng-if="next_loc.whence"> on {{next_loc.whence | date:'yyyy-MM-dd'}}</span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 travelers">
        <ul class="travelers">
          <li ng-repeat="person in data.travelers"><a href="/traveler/{{ person.userid }}/on/{{ data.trip.url_snippet }}"><img ng-src="{{person.author_face}}"/></a></li>
        </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body copyright">
        Copyright 2015 The Schlossnagle Family. All rights reserved.
      </div>
    </div>
  </div>
</div>
</footer>

<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Calligraffitti::latin', 'Handlee::latin', 'Roboto:500,300:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();</script>
