
<% var last_loc, current_loc, next_loc, asynch_footer = false;
   if(!waypoints || !travelers) {
     waypoints = waypoints || []
     travelers = travelers || []
     asynch_footer = true;
   }
   for(var i=0; i<waypoints.length;i++) {
     var p = waypoints[i];
     if(p.visibility == 0) continue;
     if(p.visibility == 1 && !current_loc) last_loc = p;
     if(current_loc) {
       next_loc = p;
       break;
     }
     if(date > p.whence) current_loc = p;
   }
   console.log(waypoints, last_loc, current_loc, next_loc)
 %>

<footer class="jumbotron footer">
<div class="row">

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-title">
        <h3>General Information</h3>
      </div>
      <div class="panel-body">
        <ul class="travelers">
        <% travelers.forEach(function(person) { %>
          <li><a href="/traveler/<%= person.userid %>"><img src="<%- person.image_url %>"/></a></li>
        <% }); %>
        </ul>
        <p><a href="/t/<%- trip.url_snippet %>/itinerary">Itinerary</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-title">
        <h3>Where we were.</h3>
      </div>
      <div class="panel-body">
        <% if(last_loc) { %>
        <p>
        <%= last_loc.name %>
        <% if(last_loc.whence) { %> on <%= last_loc.whence.format("yyyy-mm-dd",true) %> <% } %>
        </p>
        <% } %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-title">
        <h3>Where we are.</h3>
      </div>
      <div class="panel-body">
        <% if(current_loc) { %>
        <p>
        <%= current_loc.name %>
        <% if(current_loc.whence) { %>since <%= current_loc.whence.format("yyyy-mm-dd",true) %><% } %>
        </p>
        <% } %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-title">
        <h3>Where we're going.</h3>
      </div>
      <div class="panel-body">
        <% if(next_loc) { %>
        <p>
        <%= next_loc.name %>
        <% if (next_loc.whence) { %>
        on or around <%= next_loc.whence.format("yyyy-mm-dd",true) %>
        <% } %>
        </p>
        <% } %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body copyright">
        Copyright 2015 The Schlossnagle Family. All rights reserved.
      </div>
    </div>
  </div>
</div>
</footer>

<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Calligraffitti::latin', 'Handlee::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();</script>
