<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body ng-app="tresbon" ng-controller="TBC">
  <div id="pagewrap">
    <div class="nonfooter">
    <div class="jumbotron">
      <div class="container">
        <h1><%= voyage.title %></h1>
        <p><%= trip.description %> ~ Itinerary</p>
      </div>
      <div class="world"></div>
      <ol class="breadcrumb">
        <li><a href="/"><%= trip.description %></a></li>
        <li class="active">Itinerary</li>
      </ol>
    </div>
    <div class="frontcontainer container-fluid">
      <%
        var methods = {};
        var last_loc = undefined;
        for(var i=0;i<waypoints.length;i++) {
          var loc = waypoints[i],
              next_loc = (i+1 == waypoints.length) ? {} : waypoints[i+1];
              methods[loc.arrival_method] = 1;
          if(!last_loc) last_loc = loc;
          if(loc.visibility != 1) continue;
      %>
      <div class="row">
        <div class="col-md-4 agenda">
          <% for(var m in methods) { %>
            <div class="travel-method travel-method-<%= m %>"><span>traveling by <%= m %></span></div>
          <% }
             methods = {};
          %>
          <div class="panel panel-default agenda-location">
            <div class="pin"></div>
            <div class="panel-body">
              <h2><%= loc.name %></h2>
              <p>
              <% if(i!=0) { %>
              <%- loc.whence ? loc.whence.format("dS &#111;&#102; mmmm, yyyy", true) : "TBD" %> <!--  - <%- next_loc.when ? next_loc.when.format("dS &#111;&#102; mmmm, yyyy", true) : "TBD" %> -->
              <% } %>
              </p>
            </div>
          </div>
          <div class="panel-follow"></div>
        </div>
        <div class="col-md-8">
          <% if(loc.whence && next_loc.whence) {
               var windowedposts = posts.filter(function (p) {
                 return (p.whence >= last_loc.whence && p.whence < next_loc.whence);
               });
               if(windowedposts.length) { %>
          <div class="panel panel-default">
            <div class="panel-body">
          <%   windowedposts.forEach(function(post) { %>
          <div><span tzdate tzdate-date="<%- post.whence.getTime() %>" tzdate-timezone="<%= post.timezone %>" tzdate-format="MMMM d, ha">
            <%- post.whence.format("dS &#111;&#102; mmmm, yyyy", true) %>
          </span> - <a href="/traveler/<%- post.author %>/on/<%- trip.url_snippet %>/writes/<%- post.url_snippet %>"><%= post.title %></a> - <a href="/traveler/<%= post.author%>/on/<%- trip.url_snippet %>"><%= post.author_name %></a></div>
          <%   }); %>
            </div>
          </div>
          <%   }
             } %>
        </div>
      </div>
      <%
        last_loc = next_loc;
        }
      %>
    </div>
    </div>
    <%- include footer.ejs %>
  </div>
<%- include back.ejs %>
  </body>
</html>
