<div class="panel panel-default post">
  <div class="post-date"><span tzdate tzdate-date="<%- post.whence.getTime() %>" tzdate-timezone="<%= post.timezone %>" tzdate-format="">
    <%- post.whence.format("dS &#111;&#102; mmmm, yyyy", true) %>
  </span></div>
  <div class="panel-body">
    <% if(post.title) { %><h1><a href="/traveler/<%- post.author %>/writes/<%- post.url_snippet %>"><%= post.title %></a></h1><% } %>
    <%- post.data.html %>
  </div>
</div>
