<div class="panel panel-default post">
  <div class="post-date"><span><%- post.whence.format("dS &#111;&#102; mmmm, yyyy", true) %></span></div>
  <div class="panel-body">
    <% if(0 && post.title) { %><h1><a href="/traveler/<%- post.author %>/writes/<%- post.url_snippet %>"><%= post.title %></a></h1><% } %>
    <%- post.data.html %>
  </div>
</div>
