<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body ng-app="tresbon" ng-controller="TBC">
  <div id="pagewrap">
    <div class="nonfooter">
    <div class="jumbotron">
      <div class="container">
          <a href="/traveler/<%- post.author %>/on/<%- trip.url_snippet %>"><div class="author_face">
          <div class="author_image"><img src="<%- post.author_face %>" /></div>
        </div></a>
        <div class="imgspacer"></div>
        <h1><%= post.title %></h1>
        <div class="world"></div>
      </div>
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/traveler/<%- post.author %>/on/<%- trip.url_snippet %>"><%= post.author_name %></a></li>
        <li class="active"><%= post.title %></li>
      </ol>
    </div>
    <div class="frontcontainer container-fluid single">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
        <div class="panel panel-default post">
          <div class="post-date"><span tzdate tzdate-date="<%- post.whence.getTime() %>" tzdate-timezone="<%= post.timezone %>" tzdate-format="">
            <%- post.whence.format("dS &#111;&#102; mmmm, yyyy", true) %>
          </span></div>
          <div class="panel-body">
            <%- post.data.html %>
          </div>
        </div>
        </div>
      </div>
 <% if(comments) { %>
   <% if(comments.disqus) { %>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
        <div class="panel panel-default comments">
          <div class="panel-body">
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        // this.page.url = PAGE_URL;
        this.page.identifier = '<%- trip.tripid %>/<%- post.postid %>';
    };
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//<%- comments.disqus.account %>.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
          </div>
        </div>
      </div>
  <% } %>
<% } %>
    </div>
    </div>
    <div class="bottom-spacer"></div>
    <%- include footer.ejs %>
  </div>
  </body>
<%- include back.ejs %>
</html>
