<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body ng-app="tresbon" ng-controller="TBC">
    <div class="jumbotron">
      <div class="container">
          <a href="/traveler/<%- post.author %>"><div class="author_face">
          <div class="author_image"><img src="<%- post.author_face %>" /></div>
        </div></a>
        <div class="imgspacer"></div>
        <h1><%= post.title %></h1>
        <div class="world"></div>
      </div>
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/traveler/<%- post.author %>/on/<%- trip.url_snippet %>"><%= post.author_name %></a></li>
        <li class="active"><%= post.title %></li>
      </ol>
    </div>
    <div class="frontcontainer container-fluid single">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
        <div class="panel panel-default post">
          <div class="post-date"><span tzdate tzdate-date="<%- post.whence.getTime() %>" tzdate-timezone="<%= post.timezone %>" tzdate-format="">
            <%- post.whence.format("dS &#111;&#102; mmmm, yyyy", true) %>
          </span></div>
          <div class="panel-body">
            <%- post.data.html %>
          </div>
        </div>
        </div>
      </div>
    </div>
    <%- include footer.ejs %>
  </body>
</html>
