<!DOCTYPE html>
<html>
  <head>
    <% include head %>
    <link rel="alternate" type="application/rss+xml" title="RSS"
      href="/t/<%- trip.url_snippet %>/feed.xml">
  </head>
  <body ng-app="tresbon" ng-controller="TBC">
  <div id="pagewrap">
    <div class="nonfooter">
    <div class="jumbotron">
      <div class="container">
        <h1><%= voyage.title %></h1>
        <p><%= trip.description %></p>
      </div>
      <div class="world"></div>
    </div>
    <div class="frontcontainer container-fluid">
      <% include notify %>
      <%
        var start = 2;
        var todo = posts.slice(0,start);
        while(todo && todo.length) {
          var mdw = 12/todo.length;
      %>
      <div class="row">
      <%
          for(var i=0; i<todo.length; i++) { %>
          <div class="col-md-<%- mdw %>">
          <% (function(post) { %>
          <% include snippet %>
          <% })(todo[i]) %>
          </div>
        <% } %>
      </div>
      <%
          todo = posts.slice(start, start+3);
          start+=3;
        }
      %>
    </div>
    </div>
    <%- include footer.ejs %>
    </div>
  </body>
</html>
