
<footer class="jumbotron footer">
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-title">
        <h3>Where we were.</h3>
      </div>
      <div class="panel-body">
        <p>
        <% var last_loc = TP.get_location(date,-1); %>
        <%= last_loc.name %>
        on <%= last_loc.when %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-title">
        <h3>Where we are.</h3>
      </div>
      <div class="panel-body">
        <p>
        <% var current_loc = TP.get_location(date); %>
        <%= current_loc.name %>
        since <%= current_loc.when %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-title">
        <h3>Where we're going.</h3>
      </div>
      <div class="panel-body">
        <p>
        <% var next_loc = TP.get_location(date,1); %>
        <%= next_loc.name %>
        <% if (next_loc.when) { %>
        on or around <%= next_loc.when %>
        <% } %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-title">
        <h3>General Information</h3>
      </div>
      <div class="panel-body">
        <ul class="travelers">
        <% ['theo','lisa','zoe','gianna','tori'].forEach(function(person) { %>
          <li><a href="/traveler/<%= person %>"><img src="/images/profiles/<%= TP.profile_pic(date,person) %>"/></a></li>
        <% }); %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body copyright">
        Copyright 2015 The Schlossnagle Family. All rights reserved.
      </div>
    </div>
  </div>
</div>
</footer>

<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Calligraffitti::latin', 'Handlee::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();</script>
