<!DOCTYPE html>
<html ng-app="tresbon">
  <head>
    <% include include/head %>
    <script>TB._csrf = "<%= csrfToken %>";</script>
  </head>
  <body class="manage">
  <div id="pagewrap">
    <div class="nonfooter">
    <div class="jumbotron jumbotron-short">
      <div class="container">
        <h1>Tres Bon Voyage ~ Login</h2>
      </div>
    </div>
    <div class="frontcontainer container-fluid login" ng-controller="LoginController">
      <% include include/notify %>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <div class="bs-callout bs-callout-info">
            <h2>Sign in</h2>
            <div class="login-box">
              <div class="login-plain">
                <form method="POST" action="/login">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                  <% if(to) { %> <input type="hidden" name="to" value="<%= to %>"/> <% } %>

                  <div class="input-group">
                    <span class="input-group-addon">Email</span>
                    <input type="email" name="login_email" class="form-control" placeholder="janet@example.com" aria-describedby="email" />
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">Password</span>
                    <input type="password" class="form-control" name="login_password" />
                  </div>
                  <input class="form-control btn btn-primary" type="submit" value="Sign In"/>
                </form>
              </div>
              <div class="login-or"><span></span></div>
              <div class="login-facebook">
                <div ng-click="fb_login()" id="login-fb-button"><img src="/images/icons/facebook_signin_md.png"/></div>
              </div>
              <div class="login-smugmug">
                <a href="/auth/smugmug?method=login"><span>Login with SmugMug</span></a>
              </div>
              <div class="login-google">
                <a href="/auth/google?method=login"><img src="/images/icons/google_signin_md.png"/></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div class="bs-callout bs-callout-warning">
            <h2>Sign up</h2>
            <div class="signup-box">
              <div class="login-plain">
                <form id="signup" method="POST" action="/login?method=signup">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                  <% if(to) { %> <input type="hidden" name="to" value="<%= to %>"/> <% } %>
                  <div class="input-group">
                    <span class="input-group-addon">Email</span>
                    <input type="email" class="form-control" placeholder="janet@example.com" name="signup_email">
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">Password</span>
                    <input type="password" class="form-control" name="signup_password" />
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">Again</span>
                    <input type="password" class="form-control" name="signup_password2" />
                  </div>
                  <input class="form-control btn btn-warning" type="submit" value="Sign Up"/>
                </form>
              </div>
              <div class="login-or"><span></span></div>
              <div class="login-facebook">
                <a href="#" ng-click="fb_signup()"><img src="/images/icons/facebook_signup_md.png"/></a>
              </div>
              <div class="login-google">
                <a href="/auth/google?method=signup"><img src="/images/icons/google_signup_md.png"/></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    </div>
    <% include include/footer %>
    <script src="/js/login.js"></script>
  </div>
  </body>
  <style>
  body {
    background: url(https://lh3.googleusercontent.com/lSXMpw0ue11R2vAITOR0w6_UNLVj4gvS4xZRfrmohKM=w1296-h729-no) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  </style>
</html>
