<!DOCTYPE html>
<html>
  <% include head %>
  <body>
    <div class="jumbotron">
      <div class="container">
          <div class="back"><a href="/"><span>home</span></a></div>
          <div class="author_face">
          <div class="author_image"><img src="/images/profiles/<%= TP.profile_pic(date, person) %>" /></div>
        </div>
        <div class="imgspacer"></div>
        <%- TP.person(person).meta %>
      </div>
    </div>
    <div class="frontcontainer container-fluid">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
      <%
      var postpage = posts.slice((pageno-1) * nelem, pageno*nelem);
      for(var i=0; i<postpage.length; i++) { %>
          <% (function(post) { %>
            <% include post %>
          <% })(postpage[i]) %>
      <% } %>
          <div class="btn-group pagination" role="pagination">
            <% if(pageno > 1) { %>
            <a class="btn btn-default" role="button" href="?page=<%= (pageno-1) %>">see newer posts</a>
            <% } %>
            <% if(posts.length > pageno*nelem) { %>
            <a class="btn btn-default" role="button" href="?page=<%= (pageno+1) %>">see older posts</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  <%- include footer.ejs %>
  </body>
</html>
