<!DOCTYPE html>
<html>
  <head>
    <% include include/head %>
    <script src="/js/login.js"></script>
    <script src="/js/profile.js"></script>
    <script>
    TB._csrf = "<%= csrfToken %>";
    TB.userid = <%- userid %>;
    TB.email = <%- email_as_json %>;
    </script>
  </head>
  <body class="manage" ng-app="tresbon" ng-controller="TBC">
  <div id="pagewrap">
    <div class="nonfooter">
    <div class="jumbotron jumbotron-short">
      <div class="container">
        <h1><%= title %></h1>
      </div>
    </div>
    <div class="frontcontainer container-fluid" ng-controller="ProfileController">
      <% include include/notify %>
      <div class="row">
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-title"><h2 class="profile-profile">Profile</h2></div>
            <div class="panel-body">
              <dl class="dl-horizontal">
                <dt>Email:</dt><dd ng-bind="info.email"></dd>
                <dt>Voyager Since:</dt><dd ng-bind="info.created_on | date:'fullDate'"></dd>
              </dl>
            </div>
          </div>
          <div class="panel panel-default profile-link" ng-controller="LoginController">
            <div class="panel-title">
              <div class="pull-right">
                <div class="link-new link-facebook">
                  <a ng-click="fb_associate()"><img src="/images/icons/facebook.png" title="Connect to Facebook" alt="Facebook"/></a>
                </div>
                <div class="link-new link-google">
                  <a href="/auth/google"><img src="/images/icons/google.png" title="Connect to Google" alt="Google"/></a>
                </div>
                <div class="link-new link-instagram">
                  <a href="/auth/instagram"><img src="/images/icons/instagram.png" title="Connect to Instagram" alt="Instagram"/></a>
                </div>
                <div class="link-new link-smugmug">
                  <a href="/auth/smugmug"><img src="/images/icons/smugmug.png" title="Connect to SmugMug" alt="SmugMug"/></a>
                </div>
              </div>
              <h2>Integrations</h2>
            </div>
            <div class="panel-body">
              <div class="list-group">
                <div class="list-group-item" ng-repeat="link in info.thirdparty">
                  <div class="link-pic" ng-if="link.image_url"><img ng-src="{{link.image_url}}"/></div>
                  <span class="{{ link.service }}">
                  <h4>
                  {{ link.display_name ? link.display_name : link.service }}
	                </h4>
                  <span class="link-remove"><a ng-click="removeLink(link)">remove</a></span>
                  <span class="link-refresh"><a ng-click="link.service === 'facebook' ? fb_associate() : refreshLink(link)">refresh</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-title"><h2>Voyages</h2></div>
            <div class="panel-body">
              <accordion close-others="true">
                <accordion-group ng-repeat="voyage in info.voyages" is-disabled="false" is-open="expanded_voyage[voyage.voyageid]">
                  <accordion-heading>
                    <span class="pull-right glyphicon glyphicon-user"><span class="glyphicon glyphicon-user"></span></span>
                    <span>{{voyage.title || voyage.shortname}} (<a href="/voyage/{{voyage.shortname}}">manage</a>)</span>
                  </accordion-heading>
                  <div class="list-group travelers">
                    <div class="list-group-item"
                         ng-class="{'list-item-owner': t.userid == voyage.owner, 'list-item-{{t.role_name}}': t.userid != voyage.owner}"
                         ng-repeat="t in voyage.travelers | orderBy:'t.role_name'">
                      <div class="btn-group pull-right">
                        <div class="btn btn-default link-remove" ng-show="<%- userid %>==voyage.owner" ng-click="removeUser(voyage.voyageid,t)">
                          <span class="glyphicon glyphicon-remove"></span>
                        </div>
                      </div>
                      <span>"{{t.traveler_name}}" &lt;{{t.email}}&gt;</span>
                    </div>
                    <div class="list-group-item list-item-inactive"
                         ng-repeat="t in voyage.invites | orderBy:'t.email'">
                      <div ng-if="TB.email==t.email" ng-show="acceptinput[voyage.voyageid]">
                        <form>
                          <div class="input-group">
                            <input type="text" class="form-control" ng-model="newtravelname[voyage.voyageid]" placeholder="Janet" required/>
                            <div ng-click="acceptInvite(voyage.voyageid,t.email)" class="input-group-addon btn"><span>Accept</span></div>
                          </div>
                        </form>
                      </div>
                      <div ng-hide="acceptinput[voyage.voyageid] && TB.email==t.email">
                        <div class="btn-group pull-right">
                          <div class="btn btn-default link-remove" ng-show="TB.email==t.email" ng-click="acceptinput[voyage.voyageid] = true">
                            <span class="glyphicon glyphicon-ok"></span>
                          </div>
                          <div class="btn btn-default link-remove" ng-show="<%- userid %>==voyage.owner || TB.email==t.email" ng-click="discardInvite(voyage.voyageid,t.email)">
                            <span class="glyphicon glyphicon-remove"></span>
                          </div>
                        </div>
                        <span>Pending invite: &lt;{{t.email}}&gt;</span>
                      </div>
                    </div>
                    <hr stlye="clear:both"/>
                    <form>
                      <div class="input-group">
                        <input type="email" class="form-control" ng-model="invitee[voyage.voyageid]" placeholder="friend@example.com" required/>
                        <div ng-click="inviteUser(voyage.voyageid)" class="input-group-addon btn">Invite</div>
                      </div>
                    </form>
                  </div>
                </accordion-group>
              </accordian>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- footer -->
  </div>
  </body>
<style>
body {
  background: url(https://lh3.googleusercontent.com/VCO9iKcskclf3nLu8ZX5K13DoyOKriV_G0hgoyrNWWI=w1252-h705-no) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
</html>
