<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
          <div class="back"><a href="/"><span>home</span></a></div>
          <a href="/traveler/<%- post.person %>"><div class="author_face">
          <div class="author_image"><img src="/images/profiles/<%= TP.profile_pic(post.date, post.person) %>" /></div>
        </div></a>
        <div class="imgspacer"></div>
        <h1><%= post.title %></h1>
        <div class="world"></div>
      </div>
    </div>
    <div class="frontcontainer container-fluid single">
      <div class="row">
        <div class="col-md-12">
        <div class="panel panel-default post">
          <div class="post-date"><span><%- post.date.format("dS &#111;&#102; mmmm, yyyy", true) %></span></div>
          <div class="panel-body">
            <%- post.content %>
          </div>
        </div>
        </div>
      </div>
    </div>
    <%- include footer.ejs %>
  </body>
</html>
