<a href="/traveler/<%- post.person %><% if(dateparam) { %>/<%- dateparam %><% } %>"><div class="author_face">
  <div class="author_image"><img src="/images/profiles/<%= TP.profile_pic(post.date, post.person)%>" /></div>
</div></a>
<div class="panel panel-default post snippet">
  <div class="post-date"><span><%- post.date.format("dS &#111;&#102; mmmm, yyyy", true) %></span></div>
  <div class="panel-body">
    <div class="imgspacer"></div>
    <% if(post.title) { %><h1><%= post.title %></h1><% } %>
    <div class="post-content">
    <%- post.content %>
    </div>
  <div class="post-more"><div><span><a href="/traveler/<%- post.person %>/writes/<%- post.name %>">read more &rarr;</a></span></div></div>
  </div>
</div>
