<!DOCTYPE html>
<html>
  <head>
    <% include include/head %>
    <script src="/js/voyage.js"></script>
    <script src="/js/waypoint.js"></script>
    <script src="/js/post.js"></script>
    <script>
    TB._csrf = "<%= csrfToken %>";
    TB.userid = <%- userid %>;
    TB.voyage = TB.voyage || {};
    TB.voyage.id = <%- voyageid_as_json %>;
    TB.voyage.shortname = <%- shortname_as_json %>;
    </script>
  </head>
  <body class="manage" ng-app="tresbon" ng-controller="TBC">
    <div class="jumbotron">
      <div class="container">
        <h1><%= title %></h1>
      </div>
      <ol class="breadcrumb">
        <li ng-repeat="i in nav">
          <a ng-if="i.click" ng-click="i.click()">{{i.name}}</a>
          <span ng-if="!i.click">{{i.name}}</span>
        </li>
      </ol>
    </div>
    <div class="frontcontainer container-fluid" ng-controller="VoyageController">
      <% include include/notify %>
      <div class="row" ng-hide="trip">
        <div class="panel-default">
          <div class="panel-title"><h2>Choose a Trip</h2></div>
          <div class="panel-body">
            <table class="table">
              <tbody>
                <tr ng-repeat="t in voyage.trips" ng-class="{active: t.active}">
                  <td ng-click="selectTrip(t)">
                    <span>{{t.description}}</span>
                  </td>
                  <td ng-click="selectTrip(t)"><span ng-if="t.start_date">{{t.start_date | date:'fullDate'}} - {{t.end_date | date:'fullDate'}}</span></td>
                  <td style="width:1em"><span ng-click="saveTrip(t, t.active = true)" ng-show="!t.active" class="glyphicon glyphicon-play"></span>
                      <span ng-click="saveTrip(t, t.active = false)" ng-show="t.active" class="glyphicon glyphicon-pause"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <% include include/trip %>
    </div>
  </body>
</html>
